* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Nunito, sans-serif;
    font-size: 18px;
    line-height: 1.375;
    font-weight: 400;
    color: #000;
}

h1 {
    font-family: Nunito;
    font-size: 25px;
    font-weight: 600;
}

h2 {
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #6a5acd;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.main__wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 200px) 1fr;
    grid-column-gap: 20px;
    align-items: flex-start;
}

.main__content {
    padding: 20px;
    border-radius: 7px;
    background-color: aliceblue;
    box-shadow: 0 1px 7px 0 rgba(135, 206, 235, .7);
}

